
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mailing.subject}}</title>
</head>
<body>
    <p>Please confirm by clicking the link below:</p>
<a href="{{ confirm_url }}">Confirm and Send Email</a>
<br>
    <small>This Email was sent by: &lt; {{mailing.email}} &gt; </small>

    <h1>{{ mailing.subject }}</h1>
    <p>{{ mailing.message|safe }}</p>

    {% if mailing.tracking %}
    <sub> The Email is being Tracked for Analytics</sub>
    {% endif %}
    
    
    <p>Will be sent to the following batches:</p>
    
    {% if token.mailing.batches %}
    {% for batch in token.mailing.batches.all %}
    {{ batch.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
</body>

</html>


