{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    {% if messages %}
  {% for message  in messages %}
  <div class="bs-toast toast toast-ex show animate__animated my-2 fade bg-{{message.tags}} animate__fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-medium">{{messages.tags}}</div>
      <small> 1 Sec ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message.message}}
    </div>
  </div>
  {% endfor %}
  {% endif %}
    <div class="col-12">
        <div class="card mb-4">
            <h5 class="card-header">Update Mail</h5>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.batches.id_for_label }}" class="form-label">Batches</label>
                        {{ form.batches }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label"> Track this email 
                            <input class="form-check-input mt-0" name="tracking" type="checkbox" {% if form.instance.tracking %}checked{% endif %} aria-label="track this email">
                            <sub>Recipients will be notified about the tracking</sub>
                        </label>
                      </div>
                    <div class="mb-3">
                        <label for="{{ form.subject.id_for_label }}" class="form-label">Subject</label>
                        {{ form.subject }}
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="{{ form.message.id_for_label }}" class="form-label col-12">Message</label>
                            {{ form.message }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="{{ form.attachment.id_for_label }}" class="form-label">Attachments</label>
                        <input type="file" name="attachments" class="form-control" id="id_attachments" multiple>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
    
{{ form.media }}
{% endblock %}
