<h5 class="card-header">Existing Batches</h5>
				{% if batches %}
				<div class="table-responsive text-nowrap p-2">
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Name</th>
								<th>No. of recipients</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody class="table-border-bottom-0">
							{% for batch in batches %}
							<tr>
								<td><span>{{batch.name}}</span></td>
								<td>{{batch.recipients_as_list|length}}</td>
								<td class="d-flex justify-content-center">
										<button
										type="button"
										class="dropdown-item btn-sm p-0" 
										hx-get="{% url 'batch_update' pk=batch.id %}" 
										hx-target="#batchForm" 
										hx-swap="innerHTML"
										hx-on:htmx:after-swap="initTextarea()"
										>
											<i class="bx bx-edit-alt me-1"></i>
										</button>
										<button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal{{batch.id}}"> 
											<i class="bx bx-trash me-1"></i>
										</button>
								</td>
							</tr>
							<div
								class="modal fade"
								id="deleteModal{{batch.id}}"
								tabindex="-1"
								aria-labelledby="deleteModal{{batch.id}}Label"
								aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5
												class="modal-title"
												id="deleteModal{{batch.id}}Label">
												Deletion Confirmation
											</h5>
											<button
												type="button"
												class="btn-close"
												data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p>
												Are you sure you want to delete:
												<br />
												"{{batch.name}}" with
												{{batch.recipients_as_list|length}}
												recipients?
											</p>
										</div>
										<div class="modal-footer">
											<button
												type="button"
												class="btn btn-secondary"
												data-bs-dismiss="modal">
												No
											</button>
											<form 
											hx-post="{% url 'batch_delete' pk=batch.id %}" 
											hx-trigger="submit" 
											hx-swap="innerHTML" 
											hx-target="#batchesListCard"
											hx-on::before-request="$('.modal')">
												{% csrf_token %}
												<button
													data-bs-dismiss="modal"
													type="submit"
													class="btn btn-danger">
													Yes
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="card-body">
					<p class="text-center">No batches found.</p>
				</div>
				{% endif %}